<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Covid'19 Dashboard</title>
    <link type="text/css" rel="stylesheet" href="/css/style.css">
</head>
<body>



    <div class="root">
        <h1 class="header">Covid'19 Dashboard</h1>

        
        <div id="india-track">
            <%indias.forEach((india)=>{%>
            <div class="top-boxes">
                <h5>Tracker</h5>    
            </div>
            <div class="top-boxes">
                <h5>Confirmed</h5>
                <h1><%=india.confirmed%></h1>
            </div>
            <div class="top-boxes">
                <h5>Active</h5>
                <h1><%=india.active%></h1>
            </div>
            <div class="top-boxes">
                <h5>Recoverd</h5>
                <h1><%=india.recovered%></h1>
            </div>
            <div class="top-boxes">
                <h5>Deceased</h5>
                <h1><%=india.deaths%></h1>
            </div>
            <%});%>
        </div>

        <div class="table1">
            <table id="mytable">
                <tr id="table-header">
                    <th>STATE/UT</th>
                    <th>CONFIRMED</th>
                    <th>ACTIVE</th>
                    <th>RECOVERED</th>
                    <th>DECEASED</th>
                </tr>
                


                <%items.forEach((it)=>{%>
                <tr id="table-data">
                    <td id="states"><%=it.state%></td>
                    <td><%=it.confirmed%></td>
                    <td><%=it.active%></td>
                    <td><%=it.recovered%></td>
                    <td><%=it.deaths%></td>
                </tr>
                <%});%>

            </table>
        </div>
    </div>
<script type='text/javascript' src="script.js"></script>
</body>
</html>
